<!-- Toolbar -->
<div class="content">
  <h1>Benvingut a l'aplicacio de Spoticlot</h1>
  <h2>Troba i escolta les teves cançons, i afegeixles a favorits</h2>
  <app-music ></app-music>
  <table [@scrollAnimation] = " state " cellspacing="50">
      <tr *ngFor="let cancon of cancons;index as i; first as isPrimer"><ng-template [ngIf]="favorits.verifica(cancon.nom,'favorits')!=false"><td style="background-color:gold; border-radius: 20px; box-shadow: 2px 2px 2px black;"><h1>{{cancon.nom}}</h1><a (click)="this.reproductor.audio(cancon.audio)">
        <button mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
            <span class="material-icons">
              play_circle_outline
            </span>
        </button>
    </a>
    <a  href="pista/{{cancon.nom}}"><img src="{{cancon.imatge}}"/></a><br/> <a href="artista/{{cancon.autor}}" ><button mat-button color="primary">Artista: {{cancon.autor}}</button></a><br/> <a href="album/{{cancon.album}}"><button mat-button color="accent">Album: {{cancon.album}}</button></a></td></ng-template>
    <ng-template [ngIf]="favorits.verifica(cancon.nom,'favorits')==false"><td style="background-color:white; border-radius: 20px; box-shadow: 2px 2px 2px black;"><h1>{{cancon.nom}}</h1><a (click)="this.reproductor.audio(cancon.audio)">
      <button mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
          <span class="material-icons">
            play_circle_outline
          </span>
      </button>
  </a>
  <a href="pista/{{cancon.nom}}"><img src="{{cancon.imatge}}"/></a><br/> <a href="artista/{{cancon.autor}}" ><button mat-button color="primary">Artista: {{cancon.autor}}</button></a><br/> <a href="album/{{cancon.album}}"><button mat-button color="accent">Album: {{cancon.album}}</button></a></td></ng-template></tr>
  </table>
</div>

<router-outlet></router-outlet>
